html {
  font-size: 100%;
}

@media screen and (max-width: 20rem) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 18rem) {
  html {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
}

header {
  text-align: center;
  margin-top: 1rem;
}

main {
  margin: 1rem auto;
  width: clamp(2rem, 90vw, 60rem);
}

.scenes {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: 0.3px #777 solid;
  background-color: #777;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.scenes div {
  background-color: #fff;
  padding: 0.4rem 0.7rem;
}

.scenes__sequence {
  text-align: center;
}

@media screen and (max-width: 24rem) {
  .scenes__sequence {
    display: none;
  }

  .scenes {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
  }
}
